@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

:root{
    --colore-header: rgba(20, 19, 19, 0.7);
    --colore-tendina: rgba(20, 19, 19, 1);
    --colore-body: #111111;
    --ombra-header: 0px 0px 20px rgba(0,0,0,0.01);
    --colore-blu1: #007AFF;
    --colore-blu2: #312ECB;
    --colore-footer: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /*border: 1px solid green;*/
}

body{
    background: var(--colore-body);
    overflow-x: hidden;
    max-width: 100%;
}

header{
    background: var(--colore-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    box-shadow: var(--ombra-header);
    z-index: 100;
}

.logo{
    display: flex;
    gap: 15px;
}


.logo h1{
    color: var(--colore-blu1);
    font-size: 7vh;
    font-weight: 800;
    padding-left: 20px;
}

.logo h1 span{
    color: var(--colore-blu2);
}

nav{
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    transition: .3s;
    padding: 10px 15px;
    border-radius: 99px;
}

nav a.active{
    background:var(--colore-blu2);
    color: white;
}

nav a:hover{
    background:var(--colore-blu2);
    color: white;
}

header nav:hover > a:not(:hover){
    background: none;
    color: #ffffff;
}

.red{
    background-color: red;
    color: white;
}
nav a.red:hover{
    background-color: red;
    color: white;
}

header nav:hover > a.red:not(:hover){
    background: red;
    color: white;
}

input {
    display: none;
}


/*            HOME                */


.enter-animation{
    height: 100vh;
}

.pc_home{
    height: 500px;
    width: auto;
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pendrive_home{
    height: 200px;
    width: auto;
    position: absolute;
    top: 70%;
    right: -5%;
    transform: translate(0%, -50%);
    z-index: 1;
}

.pc_home, .pendrive_home {
    transition: transform 0.5s ease;
}

.pc-home-scroll {
    transform: translate(10vw, -50%);
}

.pendrive-home-scroll {
    transform: translate(-40vw, -50%);
}

.enter-animation h1{
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 30%;
    font-size: clamp(5px, 5vh, 50px);
    line-height: 70px;
    transition: transform 0.5s ease;
}

.enter-animation .marker{
    background-color: var(--colore-blu2);
    padding: 5px;
    border-radius: 5px;
}

.title-home-scroll{
    transform: translate(100vw, -10%) rotate(45deg);

}

.info {
    color: white;
    background-image: url(/sources/bg_info2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    overflow: hidden; 
}

.info .btn-shop {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: var(--colore-blu1);
    padding: 20px;
    border-radius: 999px;
    transition: box-shadow .5s;
    box-shadow: 0px 20px 10px rgba(0,0,0,0.5);
}

.info .btn-shop:hover{
    animation: oscillate .5s;
}

  
.infoshop-oscillate {
    animation: bigButton .5s ease-in-out .5s ;
}

.action-passages h1{
    color: var(--colore-blu2);
}


.action-passages .card-action {
    height: 40vh;
    width: auto;
}


/*-----------------------------FOOTER---------------------------------------------------------*/

footer {
    background: var(--colore-footer);
    color: #fff;
    padding: 20px 0;
    height: 20vh;
    display: flex;
    align-items: center;
    border-top: 2px solid white;
}


.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-details {
    display: flex;
    align-items: center;
}

.logo-details i {
    font-size: 24px;
    margin-right: 10px;
}

.logo-details .logo_name {
    font-weight: bold;
    font-size: 20px;
}

.link-boxes {
    display: flex;
    justify-content: center;
}

.box {
    list-style: none;
    display: flex;
}

.link-name {
    margin-right: 20px;
}

.link-name a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/*--------------------------  MEDIA QUERY   --------------------------------*/

@media (max-width: 768px) {

    html{
        overflow-x: hidden;
        max-width: 100vw;
    }

    body{
        overflow-x: hidden;
        max-width: 100vw;
    }  

    header{
        box-shadow: var(--ombra-header);
        padding: 0 20px;
        width: 100vw;
        transition: .3s ease-in-out;
    }

    .logo h1{
        font-size: 3vh;
    }

    nav{
        position: absolute;
        top: 100px;
        background: var(--colore-tendina);
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: .5s;
        overflow: hidden;
    }

    nav a:nth-child(1){
        margin-top: 20px;
    }

    label{
        width: 45px;
        height: 30px;
        position: relative;
    }

    label div {
        width: 100%;
        height: 5px;
        background: var(--colore-blu2);
        position: absolute;
        transform:  translateY(-50%);
        border-radius: 99px;
        transition: .5s;
        transform: scale(1);
    }

    label div:nth-child(1){
        top: 0;
    }
    label div:nth-child(2){
        top: 50%;
    }
    label div:nth-child(3){
        top: 100%;
    }

    input:checked + header nav{
        height: 60vh;
        box-shadow: var(--ombra-header);
    }

    input:checked + header{
        background-color: var(--colore-tendina);
    }

    input:checked + header label div:nth-child(1){
        transform: rotate(45deg);
        top: 50%;
    }
    input:checked + header label div:nth-child(2){
        transform: scale(0);
        opacity: 0;
    }
    input:checked + header label div:nth-child(3){
        transform: rotate(-45deg);
        top: 50%;
    }

    .enter-animation{
        padding-top: 100px;
        height: 80vh;
        max-width: 100vw;
        overflow-x: hidden;
        z-index: 100;
        margin: 0;
    }
    

    .pc_home{
        height: 200px; 
        width: auto;
        position: absolute;
        top: 50%; 
        left: 0; 
        z-index: 2;
    }

    .pendrive_home {
        height: 70px; 
        width: auto;
        position: absolute;
        top: 55%; 
        right: 0;
        z-index: 1;
    }

    .enter-animation h1{
        color: white;
        position: relative;
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        max-width: 80%;
        font-size: 25px;
        text-align: center;
        transition: transform 0.5s ease;
        line-height: 50px;
    }
    
    .enter-animation .marker{
        background-color: var(--colore-blu2);
        padding: 5px;
        border-radius: 5px;
    }

    .info {
        color: white;
        background-image: url(/sources/bg_info2.png);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        height: 50vh; 
        display: flex;
        justify-content: center; 
        align-items: center; 
        position: relative; 
        overflow: hidden; 
    }
    
    .info .btn-shop {
        position: absolute;
        top: 45%; 
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: var(--colore-blu1);
        padding: 20px;
        border-radius: 999px;
        transition: box-shadow .5s;
        box-shadow: 0px 20px 10px rgba(0,0,0,0.5);
        font-size: 10px;
    }
}

/*---------------------------  KEYFRAMES  ----------------------------------*/


@keyframes oscillate {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) rotate(7deg) scale(1.2); 
    }
    50% {
        transform: translate(-50%, -50%) rotate(-7deg) scale(1.2); 
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes bigButton{
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    25% {
        transform: translate(-50%, -50%) rotate(7deg) scale(1.7); 
    }
    50% {
        transform: translate(-50%, -50%) rotate(-7deg) scale(1.7); 
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
  