:root{
    --azzurro-scuro: #007dc5;
    --azzurro-chiaro: #8284b5;
    --text-gradient: linear-gradient(to right, #34ACF1, #C1C4FF);
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(231, 228, 228);
    overflow-x: hidden; 
}

.navbar {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: border-radius 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.navbar.menu-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    opacity: 1;
}

.logo img {
    width: 40px;
    height: auto;
    border-radius: 99px;
}

.menu-links {
    display: flex;
    gap: 15px;
    opacity: 1;   
}

.menu-links a {
    color: var(--azzurro-scuro); 
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.1s;
    font-weight: 600;
    font-size: 20px;
    transition: color .1s ease-in-out;
    
}

.menu-links a:hover{
    color: #084c73;
}

.navbar.menu-open .menu-links {
    pointer-events: auto; /* Enable interactivity when menu is open */
}

.contact{
    background: #007dc5;
    color: white;
    padding: 10px;
    border-radius: 20px;
    transition: background-color .3s ease-in-out;
}

.contact:hover{
    background: #084c73;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #2b2929;
    margin: 4px 0;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .hamburger .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

#menu-toggle:checked + .hamburger .bar:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .hamburger .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40%;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.author{
    font-size: 20px;
}


.big-title {
    font-size: 50px;
    text-align: center;
}

.big-title h1 {
    margin: 0;
    background-image: linear-gradient(300deg, rgb(110, 162, 252) 0%, rgb(1, 95, 223) 100%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.slogan {
    color: rgb(71, 66, 66); 
    text-align: center;
    margin-top: 20px;
}

.line{
    margin-top: 20px;
    width: 50%;
    height: 1px;
    background: rgb(71, 66, 66);
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social1, .social2, .social3, .social4{
    margin: 0 10px; 
    height: min-content;
    width: min-content;
    padding: 0;
}

.social1 img, .social2 img, .social3 img, .social4 img{
    height: 30px;
}

.social1 img:hover, .social2 img:hover, .social3 img:hover, .social4 img:hover{
    filter: drop-shadow(0px 2px 10px #3c3c3d);
}

.project-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.card {
    width: 500px; 
    height: 400px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 15px
}

.card img {
    top: 70px;
    width: 100%;
    height: auto;
    border-radius: 11px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-content h4{
    margin-top: 0;
    font-size: small;
    font-weight: 100;
}

.card-content p {
    font-size: 1rem;
}

.card-content a {
    display: block;
    text-decoration: none;
    color: #007dc5; 
}

.chi-sono{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    height: min-content;
    padding-bottom: 200px;
}

.chi-sono-content{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px   ;
}

.chi-sono-content .title{
    font-size: 15px;
}

.chi-sono-content .text{
    font-size: 20px;
}

.icon-scroll {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.icon {
    display: flex;
    align-items: center;
    margin: 10px;
    width: auto; 
    background: rgb(236, 236, 236);
    padding: 5px 10px;
    border-radius: 20px;
}

.icon img {
    width: 30px; 
    height: auto;
    margin-right: 10px; 
}

.icon p {
    margin: 0;
    font-size: 16px;
    color: #333; 
}


.container {
    width: 100vw;
    background-color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-bottom: 300px;
}
  
 
.form {
    background-color: #f4f4f4;
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
    width: 90%; 
    max-width: 700px;    
    color: #007dc5;
}


.form p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
}
  
 
.form h2 {
    text-align: center; 
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0;
}
  
 
label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}
  

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    border-color: #007dc5;
    border-radius: 5px;
    outline-color: #026198;
}
  
button {
    background-color: #007dc5; 
    width: 100%;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}
  
button:hover {
    background-color: #026198; 
    transform: translateY(-5px);
}

footer {
    background-image: linear-gradient(300deg, rgb(110, 162, 252) 0%, rgb(1, 95, 223) 100%);
    background-color: #333; /* Colore di sfondo del footer */
    color: #fff; /* Colore del testo */
    padding: 20px; /* Padding interno del footer */    
    text-align: center; /* Allineamento del testo */
}

.footer-container {
display: flex;
flex-direction: column;
    align-items: center;
}

.footer-social {
    margin-bottom: 20px; /* Margine inferiore per separare le sezioni */
}

.social-box {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spaziatura tra i social icons */
}

.diritti, .developer, .mappa-sito {
    margin-bottom: 10px; /* Margine inferiore per separare le sezioni */
}

.mappa-sito{
    display: flex;
    gap: 15px;
}

.mappa-sito a{
    text-decoration: none;
    color: white;
}




@media (max-width: 768px) {
    .navbar {
        width: 60%;
        top: 20px;
    }

    .hamburger {
        display: flex;
    }

    .menu-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        width: 100%;
        color: var(--azzurro-scuro); 
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        opacity: 0;
        transform: translateY(-20px);
        background-color: #ffffff;
        padding-bottom: 20px;
        pointer-events: none;
    }

    #menu-toggle:checked ~ .menu-links {
        max-height: 100vh; 
        opacity: 1;
        transform: translateY(0);
    }

    .hero-section{
        top: 10px;
        width: 70%;
    }

    .author{
        font-size: 15px;
    }

    .big-title {
        font-size: 25px;
        text-align: center;
    }
    
    .big-title h1 {
        margin: 0;
        background-image: linear-gradient(300deg, rgb(110, 162, 252) 0%, rgb(1, 95, 223) 100%);
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent;
    }
    .slogan {
        color: rgb(71, 66, 66); 
        text-align: center;
        margin-top: 20px;
        font-size: 15px;
        width: 100%;
    }

    .line{
        width: 70%;
    }
    .social1 img, .social2 img, .social3 img, .social4 img{
        height: 25px;
    }

    .chi-sono-content{
        width: 80%;
    }

    .chi-sono-content .title{
        font-size: 10px;
    }
    
    .chi-sono-content .text{
        font-size: 15px;
    }
    .icon img {
        width: 15px; /* Dimensione icona */
        height: auto;
        margin-right: 10px; /* Spazio tra icona e testo */
    }
    
    .icon p {
        margin: 0;
        font-size: 13px;
        color: #333; /* Colore del testo */
    }

    .container {
        width: 100vw;
        margin: 0 0;
        padding: 0px;
        background-color: #fff;
        display: flex; /* Aggiungi display flex */
        justify-content: center; /* Centra il contenuto orizzontalmente */
        align-items: center; /* Centra il contenuto verticalmente */
        padding-bottom: 100px;
    }
      
      /* Stile per il form */
    .form {
        background-color: #ececec;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: 0 auto; /* Aggiungi margine auto */
        width: 80%; /* Imposta la larghezza al 90% */
        max-width: 400px; /* Ombra per dare profondità */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .form-group{
        text-align: left;        
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }

    .form p{
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
    }     
     
    .form h2 {
        text-align: center; 
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 0;
    }
}


